@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background: #f5d9d5;
}

#mainNavBar {
    font-size: 1.6rem;
}

#mainNavBar .navbar-brand {
    font-size: 1.6rem;
    color: #ea1c2c;
}

#mainNavBar .nav-link {
    color: #fff;
}

#mainNavBar .nav-link:hover {
    color: #ea1c2c;
}

section #headingGroup p {
    font-size: 4rem;
}

